.courses
	.content
		h2.line Наши курсы
		.list
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle
						.circle
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/01.jpg")
					.desc
						p.title Английский для начинающих
						span Сделай первые шаги в изучении английского
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 42 изучают
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/02.jpg")
					.desc
						p.title Разговорный английский
						span Говори смело и уверенно на любые темы
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 64 изучают
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle.fill
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/03.jpg")
					.desc
						p.title Средний уровень
						span Узнай true English не понаслышке
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 146 изучают
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle.fill
						.circle.fill
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/04.jpg")
					.desc
						p.title Английский для продвинутых
						span Стань гуру английского
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 80 изучают	
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle.fill
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/05.jpg")
					.desc
						p.title Бизнес английский
						span От собеседования до ведения сложных переговоров
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 86 изучают	
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle.fill
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/06.jpg")
					.desc
						p.title Английский для IT
						span Никакого спама, только важный контент!
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 107 изучают
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle.fill
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/07.jpg")
					.desc
						p.title Английский с носителем
						span Разговаривай без акцента
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 71 изучают	
			.item
				.header
					span 50 занятий
					.dots
						.circle.fill
						.circle.fill
						.circle.fill
						.circle
						.circle
				.body
					img.lazyload(data-src="/assets/img/courses/08.jpg")
					.desc
						p.title Специализированный
						span Для любой профессии: от маркетинга до IT
				.footer
					img.lazyload(data-src="/assets/img/courses/counter.svg")
					span 34 изучают	

								