.four
	.row
		img.lazyload(data-src='/assets/img/04.jpg')
		.desc
			span.title Схема обучения
			ul
				li Занятия проводятся в группах от 3 до 8 человек, а также индивидуально.
				li Современные платформы онлайн обучения – zoom, deskle и другие.
				li Эффект полного присутствия.
				li Никаких барьеров для коммуникации и отработки упражнений.
				li Занятия проходят регулярно по расписанию.
	.row.reverse
		img.lazyload(data-src='/assets/img/05.jpg')
		.desc
			span.title В основе обучения – <br>коммуникативная методика
			ul
				li Преподаватель проходит со слушателем три стадии обучения:
				li Engagement (вовлечение)
				li Study (Изучение)
				li Activation (Активация → использование)
	.row
		img.lazyload(data-src='/assets/img/06.jpg')
		.desc
			span.title Каждое занятие – полное языковое погружение
			p Слушатель начинает говорить на английском с первого занятия. Даже те, кто изучает язык с нуля, на первом уроке овладевают парой десятков фраз. Это позволяет быстро привыкнуть к звучанию речи, предупреждает появление или избавляет от языкового барьера.
	.row.reverse
		img.lazyload(data-src='/assets/img/07.jpg')
		.desc
			span.title Наше обучение специально адаптировано для проведения занятий online
			p При обучении используются только современные аутентичные пособия и интерактивные ресурсы: видео, аудио, презентации, тесты, интегрированные в онлайн-платформу обучения;

				