header
	img(src="/assets/img/logo.png")
	ul
		li
			a(href="#about") о нас
		li
			a(href="#method") методики
		li
			a(href="#partners") партнеры
	.phone
		a(href="tel:+375293250010")
			| +375 29 325 00 10
		span заказать звонок
.slider
	.desc
		img(src="/assets/img/en.jpg")
		h1 Корпоративное обучение английскому языку у Вас в офисе либо онлайн.