.partners#partners
	h2.line Наши партнеры
	.tiles
		.row
			img.lazyload(data-src="/assets/img/partners/01.jpg")
			img.lazyload(data-src="/assets/img/partners/02.jpg")
			img.lazyload(data-src="/assets/img/partners/03.jpg")
			img.lazyload(data-src="/assets/img/partners/04.jpg")
		.row
			img.lazyload(data-src="/assets/img/partners/05.jpg")
			img.lazyload(data-src="/assets/img/partners/06.jpg")
			img.lazyload(data-src="/assets/img/partners/07.jpg")
			img.lazyload(data-src="/assets/img/partners/08.jpg")
		.row
			img.lazyload(data-src="/assets/img/partners/09.jpg")
			img.lazyload(data-src="/assets/img/partners/010.jpg")
			img.lazyload(data-src="/assets/img/partners/011.jpg")
			img.lazyload(data-src="/assets/img/partners/012.jpg")
		.row
			img.lazyload(data-src="/assets/img/partners/013.jpg")
			img.lazyload(data-src="/assets/img/partners/014.jpg")
			img.lazyload(data-src="/assets/img/partners/015.jpg")