.three#about
	h2.line Онлайн-обучение с нами - это
	.list
		.item
			img.lazyload(data-src="/assets/img/01.jpg")
			.desc
				.digit 01
				.text
					p.title Индивидуальная программа для каждой группы
					p Обучение происходит на практике, путём моделирования рабочих ситуаций. Это означает не только обширное употребление профессиональной лексики, но и освоение коммуникативных моделей, отличающихся в различных сферах. Каждая группа получает авторские методические материалы.
		.item.two
			img.lazyload(data-src="/assets/img/02.jpg")
			.desc
				.digit 02
				.text
					p.title Занятия в группах по 5-7 человек
					p Группы формируются на основе профессиональных интересов и целей, поставленных перед обучающимися. На своих занятиях мы обеспечиваем максимальную вовлечённость в учебный процесс каждого.
		.item
			img.lazyload(data-src="/assets/img/03.jpg")
			.desc
				.digit 03
				.text
					p.title Рост компетенций и развитие
					p <b>Headway online</b> — это не только школа английского языка. Для нас важен комплексный подход к профессиональной реализации наших партнёров.

					p Мы обеспечиваем среду для профессионального и личностного развития, а также проводим занятия на английском на темы: построение имиджа, стратегии ведения переговоров, целеполагание и другие в зависимости от потребности обучающихся.